 section.grid {
    display:grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: auto;
    grid-template-areas: 
    "verde verde verde"
    "giallo rosso blu"
    "arancio arancio blu";
}

#verde {
    grid-area: verde;
}

#giallo {
    grid-area: giallo;
}

#rosso {
    grid-area: rosso;
}

#blu {
    grid-area: blu;
}

#arancio {
    grid-area: arancio;
}